@import './variables.scss';

.newspack-listings__self-serve-form {
	.frequency {
		@media only screen and ( min-width: $tablet_width ) {
			.freq-label {
				width: 50% !important;

				&.listing-subscription {
					border-right: none;
					left: 50% !important;
				}
			}
		}
	}

	form {
		display: flex;
		flex-direction: column;
	}

	hr {
		background-color: var( --newspack-listings--border-light );
		max-width: none;
	}

	.input-container {
		display: none;
		margin: 0.76rem;

		@media only screen and ( min-width: $tablet_width ) {
			margin: 1.5rem 1.5rem 0.76rem;
		}
	}

	input[type='radio']:checked ~ .input-container {
		display: block;
	}

	.listing-details {
		label {
			display: inline-block;
			font-size: 20px;
		}

		input[type='text'],
		select {
			display: block;
			margin-bottom: 24px;
			padding: 6px;
			width: 100%;
		}

		input[type='checkbox'] {
			display: inline-block;
			margin-right: 8px;
		}

		input,
		select {
			font-size: 20px;
		}
	}

	p {
		font-size: 20px;

		&.newspack-listings__help {
			color: var( --newspack-listings--grey-medium );
			font-size: 16px;
			margin-top: 0;
		}
	}

	button {
		align-self: flex-end;
		background: var( --newspack-listings--secondary );
		border: none;
		border-radius: 5px;
		box-sizing: border-box;
		color: var( --newspack-listings--background );
		font-size: 16px;
		font-weight: bold;
		outline: none;
		margin-top: 16px;
		padding-left: 20px;
		padding-right: 20px;

		span {
			line-height: 48px;
		}
	}

	&.single-only .frequencies {
		padding-top: 0;

		.freq-label {
			display: none;
		}
	}
}
