// Colors.
:root {
	--newspack-listings--background: #fff;
	--newspack-listings--background-screen: #f1f1f1;
	--newspack-listings--primary: #36f;
	--newspack-listings--secondary: #555;
	--newspack-listings--grey-dark: #1e1e1e;
	--newspack-listings--grey-medium: #757575;
	--newspack-listings--grey-light: #ddd;
	--newspack-listings--border: #ccc;
	--newspack-listings--border-dark: rgb( 0 0 0/ 0.124 );
	--newspack-listings--border-light: rgb( 255 255 255/ 0.124 );
	--newspack-listings--text-main: #111;
	--newspack-listings--text-light: #767676;
}

// Media queries.
$mobile_width: 600px;
$tablet_width: 782px;
$desktop_width: 1168px;
$wide_width: 1379px;
