@import '../../assets/shared/variables.scss';
@import '~@wordpress/base-styles/colors';

.newspack-listings {
	&__shadow-taxonomy-panel {
		position: relative;

		+ .newspack-listings__shadow-taxonomy-panel {
			margin-top: 1.5rem;
		}

		.components-form-token-field__help {
			display: none;
		}

		.components-spinner {
			margin: 0;
			position: absolute;
			right: 0.5rem;
			top: 1.75rem;
		}
	}

	&__modal {
		.components-notice {
			margin: 0;
		}

		@media only screen and ( min-width: $tablet_width ) {
			width: 562px;
		}
	}

	&__empty-message {
		border-bottom: 1px solid $light-gray-500;
		margin-bottom: 2rem;
		padding-bottom: 1.75rem;
	}

	&__modal-actions {
		margin-top: 1rem;
		text-align: right;

		.components-button + .components-button {
			margin-left: 1rem;
		}
	}

	&__term-title {
		margin-bottom: 0.5em;
	}

	&__term-button.components-button.is-tertiary {
		background-color: #ddd;
		border-radius: 2px;
		color: #1e1e1e;
		font-size: 13px;
		height: auto;
		padding-left: 8px;
		padding-right: 8px;

		&::after {
			content: '✕';
			margin-left: 8px;
		}

		&:hover {
			box-shadow: none;
			color: black;
		}
	}
}
