<!-- wp:cover {"url":"{url}","id":{id},"focalPoint":{"x":"0.56","y":"0.33"},"align":"full"} -->
<div class="wp-block-cover alignfull has-background-dim"><img class="wp-block-cover__image-background wp-image-{id}" alt="" src="{url}" style="object-position:56% 33%" data-object-fit="cover" data-object-position="56% 33%"/>
  <div class="wp-block-cover__inner-container">
    <!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
      <p class="has-text-align-center has-large-font-size"></p>
    <!-- /wp:paragraph -->
  </div>
</div>
<!-- /wp:cover -->