@import '../../assets/shared/listing';

.newspack-listings {
	&__listing-editor {
		border-radius: 2px;
		box-shadow: inset 0 0 0 1px var( --newspack-listings--grey-medium );
		padding: 1em;
		position: relative;

		.components-spinner {
			display: block;
			float: none;
			margin: 2rem auto;
		}

		.components-button + .components-button {
			margin-left: 0.5rem;
		}
	}

	&__listing-search {
		.components-spinner {
			position: absolute;
			right: 1rem;
			top: 1rem;
		}
	}

	&__error {
		margin: 1rem auto 2rem;
	}
}
