@import '../../assets/shared/listing';

.newspack-listings {
	&__listing-editor {
		border-radius: 2px;
		box-shadow: inset 0 0 0 1px var( --newspack-listings--grey-dark );
		padding: 1em;
		position: relative;

		.components-spinner {
			display: block;
			float: none;
			margin: 1.75rem auto;
		}

		+ .newspack-listings__listing-editor {
			margin-top: 1.75rem;
		}
	}

	&__listing-search {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
			Cantarell, 'Helvetica Neue', sans-serif;

		.components-spinner {
			position: absolute;
			right: 1rem;
			top: 1rem;
		}
	}

	&__search-suggestions {
		border-radius: 2px;
		box-shadow: inset 0 0 0 1px var( --newspack-listings--grey-medium );
		max-height: 204px;
		padding: 4px;
		overflow: scroll;

		.components-button {
			color: var( --newspack-listings--grey-dark );
			display: block;
			margin: 4px 0 0;
			padding: 10px 12px;
			text-decoration: none;
			width: 100%;

			&:active:not( :disabled ),
			&:hover:not( :disabled ) {
				background: var( --wp-admin-theme-color );
				color: white;
			}

			&:first-of-type {
				margin-top: 0;
			}
		}
	}

	&__error {
		margin: 1rem auto 2rem;
	}
}
