@import '../../assets/shared/variables.scss';
@import '../../assets/shared/event';

.newspack-listings {
	&__event-dates-controls {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.components-base-control {
			min-width: 250px;

			@media only screen and ( min-width: $tablet_width ) {
				width: calc( 50% - 1rem );

				&:first-child {
					margin-right: 2rem;
				}
			}

			.components-base-control__label {
				font-weight: bold;
			}
		}
	}
}
