{featured_image}
<!-- wp:group {"className":"newspack-listings__real-estate-pattern-1"} -->
<div class="wp-block-group newspack-listings__real-estate-pattern-1"><!-- wp:media-text {"align":"","linkDestination":"none","mediaType":"image","mediaWidth":66,"imageFill":true} -->
    <div class="wp-block-media-text is-stacked-on-mobile is-image-fill" style="grid-template-columns:66% auto"><figure class="wp-block-media-text__media"><img alt=""/></figure><div class="wp-block-media-text__content"><!-- wp:jetpack/tiled-gallery {"className":"is-style-square","ids":[]} /--></div></div>
    <!-- /wp:media-text -->

    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"66.66%"} -->
        <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:separator {"className":"is-style-wide"} -->
            <hr class="wp-block-separator is-style-wide"/>
            <!-- /wp:separator -->

            <!-- wp:columns {"className":"newspack-listings__real-estate-pattern-1__details"} -->
            <div class="wp-block-columns newspack-listings__real-estate-pattern-1__details"><!-- wp:column {"width":"40%"} -->
                <div class="wp-block-column" style="flex-basis:40%"><!-- wp:newspack-listings/price {"price":{price},"formattedPrice":"{formatted_price}","showDecimals":{show_decimals} /-->

                    <!-- wp:paragraph {"fontSize":"small"} -->
                    <p class="has-small-font-size">Price</p>
                    <!-- /wp:paragraph --></div>
                <!-- /wp:column -->

                <!-- wp:column {"width":"20%"} -->
                <div class="wp-block-column" style="flex-basis:20%"><!-- wp:paragraph {"fontSize":"large"} -->
                    <p class="has-large-font-size"><strong>{bedroom_count}</strong></p>
                    <!-- /wp:paragraph -->

                    <!-- wp:paragraph {"fontSize":"small"} -->
                    <p class="has-small-font-size">Bedrooms</p>
                    <!-- /wp:paragraph --></div>
                <!-- /wp:column -->

                <!-- wp:column {"width":"20%"} -->
                <div class="wp-block-column" style="flex-basis:20%"><!-- wp:paragraph {"fontSize":"large"} -->
                    <p class="has-large-font-size"><strong>{bathroom_count}</strong></p>
                    <!-- /wp:paragraph -->

                    <!-- wp:paragraph {"fontSize":"small"} -->
                    <p class="has-small-font-size">Bathrooms</p>
                    <!-- /wp:paragraph --></div>
                <!-- /wp:column -->

                <!-- wp:column {"width":"20%"} -->
                <div class="wp-block-column" style="flex-basis:20%"><!-- wp:paragraph {"fontSize":"large"} -->
                    <p class="has-large-font-size"><strong>{area}</strong></p>
                    <!-- /wp:paragraph -->

                    <!-- wp:paragraph {"fontSize":"small"} -->
                    <p class="has-small-font-size">{area_measurement}</p>
                    <!-- /wp:paragraph --></div>
                <!-- /wp:column --></div>
            <!-- /wp:columns -->

            <!-- wp:separator {"className":"is-style-wide"} -->
            <hr class="wp-block-separator is-style-wide"/>
            <!-- /wp:separator -->

            <!-- wp:paragraph -->
            <p>{description}</p>
            <!-- /wp:paragraph -->

            <!-- wp:heading {"level":3} -->
            <h3>Property Details</h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>{property_details}</p>
            <!-- /wp:paragraph -->

            <!-- wp:list -->
            <ul><li><strong>Year built:</strong> {year_built}</li><li><strong>Garage:</strong> {garage}</li><li><strong>Basement:</strong>
                {basement}</li><li><strong>Heating:</strong> {heating}</li><li><strong>Cooling:</strong> {cooling}</li><li><strong>Appliances included:</strong>
                {appliances}</li></ul>
            <!-- /wp:list --></div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"33.33%"} -->
        <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:jetpack/map {"points":[{"placeTitle":"West Hill Court","title":"West Hill Court","caption":"West Hill Court, Cupertino, California 95014, United States","id":"address.958477920958366","coordinates":{"longitude":-122.0404674,"latitude":37.3072975}}],"zoom":14,"mapCenter":{"lng":-122.0404674,"lat":37.3072975},"markerColor":"#3366ff","mapHeight":400,"className":"is-style-default"} -->
            <div class="wp-block-jetpack-map is-style-default" data-map-style="default" data-map-details="true" data-points="[{&quot;placeTitle&quot;:&quot;West Hill Court&quot;,&quot;title&quot;:&quot;West Hill Court&quot;,&quot;caption&quot;:&quot;West Hill Court, Cupertino, California 95014, United States&quot;,&quot;id&quot;:&quot;address.958477920958366&quot;,&quot;coordinates&quot;:{&quot;longitude&quot;:-122.0404674,&quot;latitude&quot;:37.3072975}}]" data-zoom="14" data-map-center="{&quot;lng&quot;:-122.0404674,&quot;lat&quot;:37.3072975}" data-marker-color="#3366ff" data-map-height="400" data-show-fullscreen-button="true"><ul><li><a href="https://www.google.com/maps/search/?api=1&amp;query=37.3072975,-122.0404674">West Hill Court</a></li></ul></div>
            <!-- /wp:jetpack/map -->

            <!-- wp:heading {"level":3} -->
            <h3>Schedule a Private Showing</h3>
            <!-- /wp:heading -->

            <!-- wp:jetpack/contact-info -->
            <div class="wp-block-jetpack-contact-info"><!-- wp:jetpack/email {"email":"{email}"} -->
                <div class="wp-block-jetpack-email"><a href="mailto:{email}">{email}</a></div>
                <!-- /wp:jetpack/email -->

                <!-- wp:jetpack/phone {"phone":"{phone_display}"} -->
                <div class="wp-block-jetpack-phone"><a href="tel:{phone}">{phone_display}</a></div>
                <!-- /wp:jetpack/phone -->

                <!-- wp:jetpack/address {"address":"{address_street}","city":"{address_city}","postal":"{address_postal}","country":"{address_region}"} -->
                <div class="wp-block-jetpack-address"><div class="jetpack-address__address jetpack-address__address1">{address_street}</div><div><span class="jetpack-address__city">{address_city}</span>, <span class="jetpack-address__region"></span> <span class="jetpack-address__postal">{address_postal}</span></div><div class="jetpack-address__country">
                    {address_region}</div></div>
                <!-- /wp:jetpack/address --></div>
            <!-- /wp:jetpack/contact-info --></div>
        <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
<!-- /wp:group -->