@import '../shared/curated-list';

.newspack-listings {
	&__curated-list {
		position: relative;

		.error,
		.loading {
			display: none;
		}

		&.is-error .error {
			display: block;
		}
	}

	&__list-container {
		list-style: none;
		margin: 1rem 0;
		padding: 0;

		li {
			padding: 1rem 0;
		}

		li + li {
			border-top: 1px solid var( --newspack-listings--grey-light );
		}
	}
}
