@import '../../listing-styles/shared/curated-list';

.newspack-listings {
	&__curated-list-editor {
		border: 1px solid var( --newspack-listings--grey-dark );
		border-radius: 2px;
		padding: 3rem 1rem 1rem;

		[data-type='jetpack/map'] {
			pointer-events: none;
		}
	}

	&__curated-list-label {
		background-color: #36f;
		border-bottom-left-radius: 2px;
		color: var( --newspack-listings--white );
		display: block;
		font-size: 0.75rem;
		font-weight: bold;
		left: 1px;
		letter-spacing: 0.01rem;
		padding: 0.25rem 0.5rem;
		position: absolute;
		text-transform: uppercase;
		top: 1px;
	}

	&__modal {
		button + button {
			margin-left: 0.5rem;
		}
	}
}
