@import '../../assets/shared/curated-list';

.newspack-listings {
	&__curated-list-editor {
		border: 1px solid var( --newspack-listings--grey-dark );
		border-radius: 2px;
		clear: both;
		padding: 1em;

		label,
		.newspack-listings__label {
			display: block;
			font-size: 13px;
			line-height: 1.5;
			margin-bottom: 8px;
		}
	}

	&__placeholder {
		.components-button.has-icon {
			padding: 12px;
		}

		li {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			margin-right: 0;
		}
	}

	&__modal {
		button + button {
			margin-left: 0.5rem;
		}
	}
}
