@import '../../assets/shared/curated-list';

.newspack-listings {
	&__curated-list-editor {
		border: 1px solid var( --newspack-listings--grey-dark );
		border-radius: 2px;
		padding: 1em;

		[data-type='jetpack/map'] {
			pointer-events: none;
		}
	}

	&__modal {
		button + button {
			margin-left: 0.5rem;
		}
	}
}
